In [ ]:
#printing vertically
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#printing horizontally
for i in range(5):
    print(i, end = ' ')

0 1 2 3 4

In [6]:
#printing horizontally with nested loops
#01234 is printed thrice
for i in range(3): #rows
    for j in range(5): #columns
        print(j, end=' ')
    print() #new line after each row because of the print statement has default end='\n'

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [8]:
for row in range(3): 
    for col in range(5):
        print("*", end = ' ')
    print()

* * * * *
* * * * *
* * * * *

In [9]:
for row in range (3): 
    for col in range(2):
        print("*", end = ' ')
    print()

* *
* *
* *

In [10]:
''' row = 0 1 2 
col = 0 1

row = 0 
0 1
@ @
row = 2
0 1
@ @
@ @
'''

' row = 0 1 2 \ncol = 0 1\n\nrow = 0 \n0 1\n@ @\nrow = 2\n0 1\n@ @\n@ @\n'

In [11]:
for i in range(5):
    for j in range(5):
        print("@", end = " ")
    print()

@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @

In [13]:
'''   0 1 2 3 4
    0 @ @ @ @ @
    1 @ @ @ @ @
    2 @ @ @ @ @
    3 @ @ @ @ @
    4 @ @ @ @ @'''

'   0 1 2 3 4\n    0 @ @ @ @ @\n    1 @ @ @ @ @\n    2 @ @ @ @ @\n    3 @ @ @ @ @\n    4 @ @ @ @ @'

In [15]:
for row in range(5):
    for col in range(5):
        print(col, end = ' ')

    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [18]:
for row in range (5): #no of rows 
# 0 1 2 3 4
    for col in range(3): #no of columns
        # 0 1 2
        print(row, end = ' ')
    print()

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4

In [ ]:
for row in range(5): 
    for col in range(row+1): #row +1 = when row = 0 increases col = 1
        print(row, end = ' ')
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [24]:
n = int(input("Enter a number: "))
for i in range(n):
    for j in range(i+1):
        print("*", end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [25]:
n = int(input("Enter a number: "))
for row in range(n):
    for col in range(n-row):
        print("*", end = ' ')
    print()

* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [26]:
"""
X 0 1 2 3 4 
0          *
1        * *
2      * * *
3    * * * *
4  * * * * *"""

'\nX 0 1 2 3 4 \n0          *\n1        * *\n2      * * *\n3    * * * *\n4  * * * * *'

In [27]:
n = int(input("Enter a number: "))
for row in range(n):
    for col_space in range(n-row-1):
        print(" ", end = ' ')
    for col_star in range(row+1):
        print("*", end = ' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [31]:
n = int(input("Enter a number: "))
for row in range(n):
    print(" "*(n-row-1), end = ' ')
    print("*"*(row+1), end = ' ')
    print()

               *
              **
             ***
            ****
           *****
          ******
         *******
        ********
       *********
      **********
     ***********
    ************
   *************
  **************
 ***************

In [28]:
# HW 
'''
X 0 1 2 3 4
0 * * * * *
1   * * * *
2     * * *
3       * *
4         *'''

'\nX 0 1 2 3 4\n0 * * * * *\n1   * * * *\n2     * * *\n3       * *\n4         *'

In [33]:
#HW
'''
X 0 1 2 3 4
0 *
1 * * 
2 * * *
3 * * * *
4 * * * * *
5 * * * *
6 * * *
7 * *
8 *'''

'\nX 0 1 2 3 4\n0 *\n1 * * \n2 * * *\n3 * * * *\n4 * * * * *\n5 * * * *\n6 * * *\n7 * *\n8 *'