### Strings : 
- Enclosed in '' , "", ''' '''
- Immutable

### Operations on a string :

#### 1. Concatenation (+) -  
Joining strings.

In [27]:
fn = "Tarit" 
ln = "Singh" 
fn+ln

'TaritSingh'

#### 2. Repitition (*) - 
repeat a string multiple times.

In [2]:
fn * 10

'TaritTaritTaritTaritTaritTaritTaritTaritTaritTarit'

#### 3. Indexing -
Accessing individual characters. Indices Starts from '0' in the left, and in -ve indices it starts from '-1'.

In [5]:
fn[0]

'T'

In [6]:
ln[-1]

'h'

#### 4. Slicing -
Extracting substring from a string.

In [19]:
names = "TaritKumarSingh"

#Positive Slicing
print(names[0:5:1]) # variable[start:end+1:step]
print(names[0:5:2]) # step = 2 skips by 2 values.

# Negative Slicing 
print(names[-5:-1])
print(names[-1:-5])
print(names[-5:]) # prints till the end of the string  with step = 1 by default.

Tarit
Trt
Sing

Singh

In [23]:
# To Reverse a string.
print(names[::-1]) # the step value = -1
print(names[-1:-6:-1])
print(names[-1:-6:-2]) # reverse of string by skipping 2 values

hgniSramuKtiraT
hgniS
hnS

#### 5. Membership : 
To check the presence of a substring in string.

In [24]:
"Tarit" in names

True

In [25]:
"23" in names

False

In [26]:
"23" not in names

True

### Built-in functions :

In [29]:
len(names) #Gives the length of the strings.

15

In [ ]:
sorted(names) #Sorts the string on the basis of ascii values.  first Uppercases and then lowercases.

['K', 'S', 'T', 'a', 'a', 'g', 'h', 'i', 'i', 'm', 'n', 'r', 'r', 't', 'u']

In [ ]:
max(names) # last according ascii values.

'u'

In [44]:
min(names) # first according  ascii values.

'K'

In [42]:
#  characters to ascii values
print(ord("a"))# gives the ascii value of the character.
print(ord('1'))

97
49

In [43]:
# ascii values to characters
print(chr(97))# gives the character for the ascii value.

a

'Kmri'