### Strings : 
- Enclosed in '' , "", ''' '''
- Immutable

### Operations on a string :

#### 1. Concatenation (+) -  
Joining strings.

In [2]:
fn = "Tarit" 
ln = "Singh" 
fn+ln

'TaritSingh'

#### 2. Repitition (*) - 
repeat a string multiple times.

In [3]:
fn * 10

'TaritTaritTaritTaritTaritTaritTaritTaritTaritTarit'

#### 3. Indexing -
Accessing individual characters. Indices Starts from '0' in the left, and in -ve indices it starts from '-1'.

In [4]:
fn[0]

'T'

In [5]:
ln[-1]

'h'

#### 4. Slicing -
Extracting substring from a string.

In [6]:
names = "Tarit Kumar Singh"

#Positive Slicing
print(names[0:5:1]) # variable[start:end+1:step]
print(names[0:5:2]) # step = 2 skips by 2 values.

# Negative Slicing 
print(names[-5:-1])
print(names[-1:-5])
print(names[-5:]) # prints till the end of the string  with step = 1 by default.

Tarit
Trt
Sing

Singh

In [7]:
# To Reverse a string.
print(names[::-1]) # the step value = -1
print(names[-1:-6:-1])
print(names[-1:-6:-2]) # reverse of string by skipping 2 values

hgniS ramuK tiraT
hgniS
hnS

#### 5. Membership : 
To check the presence of a substring in string.

In [8]:
"Tarit" in names

True

In [9]:
"23" in names

False

In [10]:
"23" not in names

True

### Built-in functions :

In [11]:
len(names) #Gives the length of the strings.

17

In [12]:
sorted(names) #Sorts the string on the basis of ascii values.  first Uppercases and then lowercases.

[' ',
 ' ',
 'K',
 'S',
 'T',
 'a',
 'a',
 'g',
 'h',
 'i',
 'i',
 'm',
 'n',
 'r',
 'r',
 't',
 'u']

In [13]:
max(names) # last according ascii values.

'u'

In [14]:
min(names) # first according  ascii values.

' '

In [15]:
#  characters to ascii values
print(ord("a"))# gives the ascii value of the character.
print(ord('1'))

97
49

In [16]:
# ascii values to characters
print(chr(97))# gives the character for the ascii value.

a

### Python String Methods :

#### 1. Case Conversion Methods-

In [17]:
names.upper() #Converts the string to uppercase.

'TARIT KUMAR SINGH'

In [18]:
names.lower() #Converts the string to lowercase.

'tarit kumar singh'

In [19]:
names.capitalize() #Converts the first character to uppercase and rest to lowercase.

'Tarit kumar singh'

In [20]:
names.title() #Converts the first character of each word to uppercase and rest to lowercase.

'Tarit Kumar Singh'

In [21]:
names.swapcase() #Converts the uppercase characters to lowercase and vice versa.

'tARIT kUMAR sINGH'

In [22]:
"ß".casefold()  #Converts the string to lowercase, but it is used for case-insensitive comparisons.

'ss'

#### 2. Alignment and Formatting Methods -

In [23]:
names.center(50, "*") #Centers the string within a specified width, padding with the specified character.

'****************Tarit Kumar Singh*****************'

In [24]:
names.ljust(50, "*") #Left-justifies the string within a specified width, padding with the specified character.

'Tarit Kumar Singh*********************************'

In [25]:
names.rjust(50,"*") #Right-justifies the string within a specified width, padding with the specified character.

'*********************************Tarit Kumar Singh'

In [26]:
print("34".zfill(5)) #Pads the string with zeros on the left to fill a specified width.
print(names.zfill(20)) #Pads the string with zeros on the left to fill a specified width.

00034
000Tarit Kumar Singh

In [27]:
#format() method

In [28]:
#format_mapping

### 3. Search and Find Methods

In [29]:
names.find("Tarit") #Returns the index of the first occurrence of the substring. If not found, returns -1.

0

In [30]:
names.rfind("i") #Returns the index of the last occurrence of the substring. If not found, returns -1.

13

In [31]:
names.index("Banana") #Returns the index of the first occurrence of the substring. If not found, raises a ValueError.

ValueError: substring not found

In [32]:
names.count("a")

2

### 4. String Testing Methods (Boolean Results)

In [34]:
names.startswith("t") #Checks if the string starts with the specified substring. Returns True or False.

False

In [37]:
names.endswith("h") #Checks if the string ends with the specified substring.

True

In [38]:
names.isalpha() #Checks if all characters in the string are alphabetic.

False

In [41]:
"abc123".isalnum() #Checks if all characters in the string are alphanumeric (letters and numbers).

True

Special Characters like - !,@,#, etc. are not alphanumeric.

In [42]:
names.islower() #Checks if all characters in the string are lowercase.

False

In [43]:
names.isupper() #Checks if all characters in the string are uppercase.

False

In [ ]:
"  ".isspace() #Checks if all characters in the string are only whitespace characters (spaces, tabs, newlines).

True

In [45]:
names.istitle() #Checks if the string is in title case (first character of each word is uppercase, rest are lowercase).

True

In [48]:
"!@#my_var".isidentifier() #Checks if the string is a valid identifier (variable name) in Python.

False

#### 5. Replace & Modify Methods

In [49]:
"Tariq".replace("q", "t") #Replaces all occurrences of the specified substring with another substring.
# .replace("to replace", "new value", count) # count is optional, if not given, replaces all occurrences.

'Tarit'

In [88]:
"tarit".maketrans("a", "@") #Creates a translation table for character replacement. 
#gives a dictionary with the characters to be replaced as keys and the new characters as values.

{97: 64}

In [89]:
"tarit".translate("tarit".maketrans("a", "@")) #Replaces characters using translation table made in .maketrans()

't@rit'

In [91]:
"tarit".translate(str.maketrans("a", "@")) #here 'str' is used instead of "tarit" to make it the code shorter.

't@rit'

#### 6. Splitting & Joining Methods

In [51]:
s = "My name is Tarit Kumar Singh"

In [52]:
s.split() #Splits the string into a list of substrings based on whitespace by default.
# s.split("delimiter")

['My', 'name', 'is', 'Tarit', 'Kumar', 'Singh']

In [53]:
s.rsplit(" ", 2) #Splits the string from the right side, limiting the number of splits to 2.

['My name is Tarit', 'Kumar', 'Singh']

In [55]:
l = """Hello 
world 
python"""
l.splitlines() #Splits the string into a list of lines, removing the newline

['Hello ', 'world ', 'python']

In [61]:
file = ['Hello', 'world', 'python']
"|".join(file) #Joins the list of strings into a single string with the specified delimiter.

'Hello|world|python'

In [63]:
mail = "Taritkumar@gmail@com"
mail.partition("@") #Splits the string into three parts: the part before the separator, the separator itself, and the part after the separator.
#partition gives output as TUPLE (before, separator, after) unlike split which gives a LIST.

('Taritkumar', '@', 'gmail@com')

In [ ]:
mail.rpartition("@") # splits the string from the right side into three parts: the part before the separator, the separator itself, and the part after the separator.

('Taritkumar@gmail', '@', 'com')

#### 7. Whitespace & Trimming Methods

In [70]:
str = "          Python                "
str.strip() #Removes leading and trailing whitespace characters from the string.

'Python'

In [71]:
str.lstrip() #Removes leading whitespace characters from the string.

'Python                '

In [72]:
str.rstrip() #Removes trailing whitespace characters from the string.

'          Python'

#### 8. Encoding & Decoding Methods

In [84]:
"Trap 😁".encode() # Encodes a string to bytes; by default encoding is in (UTF-8)

b'Trap \xf0\x9f\x98\x81'

In [85]:
b'Trap \xf0\x9f\x98\x81'.decode() #Decodes the bytes object back to a string using the default encoding (UTF-8).

'Trap 😁'