### Strings : 
- Enclosed in '' , "", ''' '''
- Immutable

### Operations on a string :

#### 1. Concatenation (+) -  
Joining strings.

In [2]:
fn = "Tarit" 
ln = "Singh" 
fn+ln

'TaritSingh'

#### 2. Repitition (*) - 
repeat a string multiple times.

In [3]:
fn * 10

'TaritTaritTaritTaritTaritTaritTaritTaritTaritTarit'

#### 3. Indexing -
Accessing individual characters. Indices Starts from '0' in the left, and in -ve indices it starts from '-1'.

In [4]:
fn[0]

'T'

In [5]:
ln[-1]

'h'

#### 4. Slicing -
Extracting substring from a string.

In [21]:
names = "Tarit Kumar Singh"

#Positive Slicing
print(names[0:5:1]) # variable[start:end+1:step]
print(names[0:5:2]) # step = 2 skips by 2 values.

# Negative Slicing 
print(names[-5:-1])
print(names[-1:-5])
print(names[-5:]) # prints till the end of the string  with step = 1 by default.

Tarit
Trt
Sing

Singh

In [7]:
# To Reverse a string.
print(names[::-1]) # the step value = -1
print(names[-1:-6:-1])
print(names[-1:-6:-2]) # reverse of string by skipping 2 values

hgniSramuKtiraT
hgniS
hnS

#### 5. Membership : 
To check the presence of a substring in string.

In [8]:
"Tarit" in names

True

In [9]:
"23" in names

False

In [10]:
"23" not in names

True

### Built-in functions :

In [11]:
len(names) #Gives the length of the strings.

15

In [12]:
sorted(names) #Sorts the string on the basis of ascii values.  first Uppercases and then lowercases.

['K', 'S', 'T', 'a', 'a', 'g', 'h', 'i', 'i', 'm', 'n', 'r', 'r', 't', 'u']

In [13]:
max(names) # last according ascii values.

'u'

In [14]:
min(names) # first according  ascii values.

'K'

In [15]:
#  characters to ascii values
print(ord("a"))# gives the ascii value of the character.
print(ord('1'))

97
49

In [16]:
# ascii values to characters
print(chr(97))# gives the character for the ascii value.

a

### Python String Methods :

#### 1. Case Conversion Methods-

In [17]:
names.upper() #Converts the string to uppercase.

'TARITKUMARSINGH'

In [18]:
names.lower() #Converts the string to lowercase.

'taritkumarsingh'

In [19]:
names.capitalize() #Converts the first character to uppercase and rest to lowercase.

'Taritkumarsingh'

In [22]:
names.title() #Converts the first character of each word to uppercase and rest to lowercase.

'Tarit Kumar Singh'

In [23]:
names.swapcase() #Converts the uppercase characters to lowercase and vice versa.

'tARIT kUMAR sINGH'

In [24]:
"ÃŸ".casefold()  #Converts the string to lowercase, but it is used for case-insensitive comparisons.

'ss'

#### 2. Alignment and Formatting Methods -

In [25]:
names.center(50, "*") #Centers the string within a specified width, padding with the specified character.

'****************Tarit Kumar Singh*****************'

In [26]:
names.ljust(50, "*") #Left-justifies the string within a specified width, padding with the specified character.

'Tarit Kumar Singh*********************************'

In [27]:
names.rjust(50,"*") #Right-justifies the string within a specified width, padding with the specified character.

'*********************************Tarit Kumar Singh'

In [34]:
print("34".zfill(5)) #Pads the string with zeros on the left to fill a specified width.
print(names.zfill(20)) #Pads the string with zeros on the left to fill a specified width.

00034
000Tarit Kumar Singh

In [35]:
#format() method

In [36]:
#format_mapping

### 3. Search and Find Methods

In [39]:
names.find("Tarit") #Returns the index of the first occurrence of the substring. If not found, returns -1.

0

In [45]:
names.rfind("i") #Returns the index of the last occurrence of the substring. If not found, returns -1.

13

In [46]:
names.index("Banana") #Returns the index of the first occurrence of the substring. If not found, raises a ValueError.

ValueError: substring not found

In [48]:
names.count("a")

2