## Lists :
- order
- mutable 
- allow duplicates 
- heterogeneous
- dynamically sized - adjust memory allocation bydefault

In [2]:
l = [1,2,3,4,5]
l #Ordered

[1, 2, 3, 4, 5]

In [3]:
l.append(8)
l #mutable

[1, 2, 3, 4, 5, 8]

In [4]:
l.remove(1)
l

[2, 3, 4, 5, 8]

In [7]:
#duplicates 
l.append(8)
l

[2, 3, 4, 5, 8, 8]

In [8]:
#heterogeneous 
l.append(2.3)
l.append(True)
l.append("str")
l.append((1,2))
l.append({1,2})
l.append({"course" : "py"})
l.append(2+5j)
l.append([1,2,3])
l

[2,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 {'course': 'py'},
 (2+5j),
 [1, 2, 3]]

In [9]:
# Declaring lists 
new_l = []
new_l = list()

### Accessing elements in a list :

#### 1. by indexing -

In [16]:
l[2]

4

#### 2. by slicing-

In [15]:
#Slicing 
print(l[-3:])
print(l[:7])
print(l[8:10])
print(l[::-1])

[{'course': 'py'}, (2+5j), [1, 2, 3]]
[2, 3, 4, 5, 8, 8, 2.3]
['str', (1, 2)]
[[1, 2, 3], (2+5j), {'course': 'py'}, {1, 2}, (1, 2), 'str', True, 2.3, 8, 8, 5, 4, 3, 2]

In [14]:
len(l)

14

#### 3. Modifying a list -

In [17]:
l

[2,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 {'course': 'py'},
 (2+5j),
 [1, 2, 3]]

In [19]:
l[0] = 1
l

[1,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 {'course': 'py'},
 (2+5j),
 [1, 2, 3]]

In [20]:
# append - to add one element 
l.append(9)

In [25]:
#extend - to add multiple numbers in the list 
l.extend(["asas","dsad",1,2])
l

[1,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 {'course': 'py'},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas',
 'dsad',
 1,
 2]

In [31]:
#insert- to insert a value at an index (l.insert(index, value))
l.insert(1,100)
l

[1,
 100,
 100,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 {'course': 'py'},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas',
 'dsad',
 1,
 2]

In [29]:
#remove 
l.remove(100)
l

[1,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 {'course': 'py'},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas',
 'dsad',
 1,
 2]

In [32]:
l.remove({"course" : "py"})

In [40]:
# pop - to remove element - index based, bydefault last. Doesnt delete the memory allocated and how the variable is saved.
l.pop()
l

[100,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas']

In [35]:
l.pop
l

[1,
 100,
 100,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas',
 'dsad',
 1]

In [36]:
l.pop()
l

[1,
 100,
 100,
 3,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas',
 'dsad']

In [37]:
l.pop(3)
l

[1,
 100,
 100,
 4,
 5,
 8,
 8,
 2.3,
 True,
 'str',
 (1, 2),
 {1, 2},
 (2+5j),
 [1, 2, 3],
 9,
 ['s', 'DS', 989],
 ['s', 'DS', 989],
 'asas',
 'dsad']

In [38]:
l.pop(0)

1

In [39]:
l.pop(0)

100

In [ ]:
# del - to delete the element / list completely along with the memory allocated.
del l
l # l has be deleted completely

NameError: name 'l' is not defined

In [57]:
# clear () - clears all contents in a list.
l =[1,2,3]
l.clear()
l

[]

In [58]:
# .index -returns index of the first occurence.
l = [92,32,12,534]
l.index(32) # l.index(value to be found)

1

In [59]:
#sorted()
sorted(l) # creates a new list with elements sorted in asc order.

[12, 32, 92, 534]

In [60]:
l.sort() #changes the original list
l

[12, 32, 92, 534]

In [ ]:
l.sort(reverse =True) #reverses the list in the original list
l

[534, 92, 32, 12]

In [62]:
print(l.reverse()) # reverses  the values in a list by creating a new list temporarily

None

In [63]:
l.copy() # creates a shallow copy of the list i.e., a temporary copy of the list.

[12, 32, 92, 534]

In [64]:
# gives the no of occurences of a value in a list.
l.count(92)

1

In [ ]:
max(l) # returns the max value in a list. According to ascii value.

534

In [68]:
min(l) # returns the min value in a list according to ascii value.

12

In [69]:
sum(l) # returns the sum of all the elements in a list.

670

In [70]:
len(l) # returns the length of the list.

4

False elements are - False, 0, (), {}, set(), []

In [71]:
# any() - returns True if any element in the list is True, else False.
any(l)

True

In [72]:
a = []
any(a) # returns False as there are no elements in the list.

False

In [73]:
# all() - returns True if all elements in the list are True, else False.
all(l)

True

In [74]:
b = ["a", "b", "c", "",[]]
all(b) # returns False as there is an empty string and an empty list in the list

False