## Tuples - 
- Immutable (similar to list but cant be changed)
- ordered 
- heterogeneous 
- Faster since immutable 
- Used for efficiency in memory

In [1]:
# Defining a Tuple 
t =()
t =tuple()
type (t)

tuple

In [2]:
# Creating a Tuple with various types of values i.e. Heterogeneous
t = (1, 2.5, "Hello", True, 4+3j, {1,2.3},{"name" : "John", "age": 30})

In [3]:
# accessing elements of a tuple
t[3]  # Accessing the 4th element (index 3)

True

In [4]:
t[6]

{'name': 'John', 'age': 30}

In [6]:
t[:3] # Slicing the first three elements

(1, 2.5, 'Hello')

In [7]:
t[::-1]  # Reversing the tuple

({'name': 'John', 'age': 30}, {1, 2.3}, (4+3j), True, 'Hello', 2.5, 1)

In [11]:
# Concatenating tuples
t1 = (1, 2, 3,4)
t2 = (4, 5, 6, "Tarit")
t3 = t1 + t2  # Concatenation
t3

(1, 2, 3, 4, 4, 5, 6, 'Tarit')

In [14]:
# Repeatition
t[:3] * 3 # Repeating the first three elements three times

(1, 2.5, 'Hello', 1, 2.5, 'Hello', 1, 2.5, 'Hello')

In [15]:
#membership
"Tarit" in t3  # Checking if "Tarit" is in the tuple

True

In [16]:
# Packing and Unpacking
# Packing
packed_tuple = (1, 2, 3, "Hello")
# Unpacking
a, b, c, d = packed_tuple
print(a)  # 1
print(b)  # 2
print(c)  # 3
print(d)  # Hello

1
2
3
Hello

In [17]:
data = ("tarit", "python", "14")
name, subject, age = data
print(name)
print(subject)
print(age)

tarit
python
14

In [18]:
# Converting a list to a tuple
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

In [19]:
t =(1,2,3,4,[1,2,3])

In [20]:
t.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
t[4].append(9)  # Appending to the list inside the tuple
t

(1, 2, 3, 4, [1, 2, 3, 9])

#### Advantages of a Tuple: 
- Immutable 
- Faster - memory efficient
- Hashable - Can be used as keys in a dictionary
- Data Intergrity - ideal for storing a constant data

In [24]:
# Hashable
t = [("name", "Tarit"), ("subject", "Python"), ("age", 14)] #tuples wrapped in a list
dict(t)  # Converting list of tuples to a dictionary

{'name': 'Tarit', 'subject': 'Python', 'age': 14}