In [1]:
a =18

In [2]:
float(a)

18.0

In [3]:
bool(a)

True

In [4]:
complex(a)

(18+0j)

In [5]:
list(a)

TypeError: 'int' object is not iterable

In [6]:
tuple(a)

TypeError: 'int' object is not iterable

List/tuple/dictionary are a collection of items but integer is not.

In [11]:
c = 2+ 0j

In [12]:
int(c)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [9]:
float(c)

TypeError: float() argument must be a string or a real number, not 'complex'

In [10]:
str(c)

'(2+4j)'

In [13]:
bool(c)

True

complex data type cant be changed.

In [14]:
s = "python"

In [15]:
int(s)

ValueError: invalid literal for int() with base 10: 'python'

In [17]:
# but 
s = "123"
int(s) # works because it is a number inside a string that can be converted to an integer

123

In [18]:
s = "Python"
list(s)

['P', 'y', 't', 'h', 'o', 'n']

In [19]:
tuple(s)

('P', 'y', 't', 'h', 'o', 'n')

In [20]:
set(s)

{'P', 'h', 'n', 'o', 't', 'y'}

In [21]:
dict(s) # this will not work because a dictionary requires key-value pairs, and a string does not provide that structure.

ValueError: dictionary update sequence element #0 has length 1; 2 is required

### List

In [25]:
l = [1, 2, 3]

In [26]:
int(l)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [27]:
tuple(l)

(1, 2, 3)

In [29]:
bool(l)

True

In [30]:
set(l)

{1, 2, 3}

In [31]:
str(l)

'[1, 2, 3]'

In [33]:
l = ['abc', 'def', 'ghi']
l_s ="".join(l)
l_s

'abcdefghi'

In [35]:
l = [1, 2, 3]
"".join(l)  # This will raise an error because you cannot join a list of integers directly into a string.

TypeError: sequence item 0: expected str instance, int found