1. Birthday format fixer

In [4]:
date,month,year = input("Enter date-month-year"). split('-')
print (f'{year}/{month}/{date}')

2025/07/16

2. Even odd game

In [5]:
n = int(input())
if n%2 == 0 : 
    print("Even Winner")
else: 
    print("Odd Winner")

Even Winner

3. Vowel Replacer bot

In [6]:
s = input().lower()
print(s.translate(str.maketrans('aeiouAEIOU','**********')))

h*ll* w*rld

4. Shopping cart analyser

In [10]:
l = list(map(float,input().split()))
print("sum = ",sum(l))
print("max = ",max(l))

sum =  166.0
max =  77.0

Login credentials

In [11]:
credentials = ("admin", "python123")
username = input()
password = input()

if credentials[0]== username and credentials[1]== "python123":
    print("Login Successful")
else: 
    print("Access denied")

Login Successful

6. Remove duplicates

In [12]:
names = set(input().split()) # since input is str so need to use map. use map only for int or float.
print(sorted(names))

['rosh', 'shubha', 'tarit']

7. Student marks

In [28]:
n = int(input())
data = {}
max_val = 0
max_name = ''
for _ in range(n): 
    name,marks = input().split()
    marks = int(marks)
    if marks > max_val: 
        max_val =marks 
        res_name = name
    data[name] = marks 

print(data)
print(res_name)

{'tarit': 30, 'varun': 89, 'rasso;': 30}
varun

8. Reverse my word strings:

In [16]:
s = input().split()
for i in s: 
    print(i[::-1])

olleh
dlrow

In [17]:
# alternative:  
sentence = input("Enter a string: ")
words = sentence.split()                  # Split sentence into words
reversed_words = [word[::-1] for word in words]  # Reverse each word
output = ' '.join(reversed_words)         # Join them back with spaces
print(output)

olleh dlrow

9. Clean my list: 
- convert them to int
- remove all zeroes
- print cleaned list

In [18]:
l = list(map(int,input().split()))
while (0 in l):
    l.remove(0)
print(l)

[1, 23, 43]

In [ ]:
# here l length is being changed constantly so only not all '0' are removed. 
for i in l:
    if i == 0: 
        l.remove(i)
print(l)

[1, 23, 43]

In [ ]:
# alternative # uses more space
l = list(map(int,input().split()))
res = [] 
for i in l:
    if i != 0: 
        res.append(i)
print(res)

[1, 2, 3, 32, 7, 2, 4, 2]

9. The Frequency Counter

In [23]:
line = input()
data = {}

for i in line: 
    if i not in data and i != ' ': 
        data[i]= line.count(i)
print(data)

{'H': 1, 'e': 1, 'l': 3, 'o': 3, 'W': 1, 'r': 1, 'd': 1, 'O': 1, 'y': 1, 't': 1, 'h': 1, 'n': 1}